[2016-05-20 00:17] Piasy opened #2 "Doesn't support view type for ItemView?"
It seems only support 4 types, TYPE_ITEM, TYPE_HEADER, TYPE_GHOST_HEADER or TYPE_FOOTER, so what could I do if my TYPE_ITEM has different sub types?

[2016-05-20 22:08] ShamylZakariya commented on #2
That's not a use case I thought through, to be honest. I'm open to adding it if there's a graceful way to do it, but I know there's a lot of animated discussion out there about best practices for heterogenous view types in recyclerview.

[2016-05-24 15:28] Meldoyo opened #3 "Margin properties on Items in StickyHeaderLayoutManager"
Hey,
I'm using a RecyclerView which contains CardViews and want to have StickyHeaders.

When using a LinearLayout in my RecyclerView, I can't get a Sticky Header only a header separating the cards (it's already a huge improvement actually). I'm guessing that this is correct behaviour with this layout.

But when using the provided layout it seems like the margin properties on my card have no effect

[2016-05-24 15:41] Meldoyo commented on #3
Okay so I used a workaround in order to make it work properly.

I encapsulate my CardView inside a simple LinearLayout
[code]
I'm not closing the issue but I hope this helps ;=
Thanks for the library !

[2016-05-27 19:57] ShamylZakariya commented on #3
Interesting. I have to assume this is something to do with CardView -- StickyHeaderLayoutManager simply asks for how tall the item wants to be when laid out, it doesn't do anything special. Glad you were able to find a workaround, but let's leave this open so I can think about this.

[2016-05-27 21:48] ihsanbal opened #4 "Null object reference"
I am trying to set header for every item but getting crash.

[code]

[code]

[code]

[2016-05-27 22:04] ShamylZakariya commented on #4
This is very perplexing. The crash is happening because the `adapter` reference is null:

https://github.com/ShamylZakariya/StickyHeaders/blob/master/stickyheaders/src/main/java/org/zakariya/stickyheaders/StickyHeaderLayoutManager.java#L590

[code]

There are only two ways the adapter may be null. The adapter reference is assigned in `StickyHeaderLayoutManager::onAttachedToWindow` and is nulled in

[2016-05-28 11:20] ihsanbal commented on #4
Yeah you right, my recyclerview attached to window before setAdapter because I was inflate my view in onCreateView and set adapter onViewCreated method so remove onViewCreated than bug is gone :)

[2016-05-28 11:20] #4 closed

[2016-05-29 01:37] pfaffenrodt opened #5 "StickyHeaderLayoutManager not rendering"
Attaching StickyHeaderLayoutManager. View ist empty.

LinearLayoutManager the Views are rendered.

supportLibraryVersion = '23.4.0'

[2016-05-29 01:46] pfaffenrodt commented on #5
int parentBottom = getHeight() - getPaddingBottom();

parentBottom is "0"

[2016-05-29 14:33] davideas opened #6 "Possible inclusion in FlexibleAdapter"
Hello @ShamylZakariya,
I was wondering if your LayoutManager could be included (and adapted) in my [FlexibleAdapter](https://github.com/davideas/FlexibleAdapter) library. Currently, I use a different solution to make headers sticky and clickable(!), it works fair enough, but it has some bugs due to different internal state of the default LayoutManagers especially when removing items.
Basically, I

[2016-05-30 19:59] yilzer opened #7 "Scroll to position not working in your adapter."
When i want to scroll to a specific item in recyclerview with for example: mRecyclerview.scrollToPosition(20), the adapter list will not move, but start normally by the first item.
It also happens when i call scroll to position from your StickyLayoutManager.

Is there an way i can fix this issue?

Thanks in advance,

Yilzer

[2016-06-02 01:19] weinierfei opened #8 "How to click on the head of a child view?"
How to click on the head of a child view?

[2016-06-02 05:04] amitailanciano opened #9 "Scrolling gets progressively slower the more sections there are"
First of all thanks for this lib, it's great!

I'm running into some performance issues when there are a large number of sections, my use case is a list of events, each section is labeled with a date, and the items are events for that date.

It starts off smooth as butter, but the farther down the list you go the slower it gets. I profiled it and it looks like `updateHeaderPositions` takes more an

[2016-06-02 08:03] y2t opened #10 "How to modify dataset?"
First of all thanks for this lib, it's great!

I call the `notifySectionItemChanged(sectionIndex, itemIndex)` method.

But had a problem is
`java.lang.IllegalArgumentException: view is not a child, cannot hide android.widget.LinearLayout{21e33088 V.E...CL ......I. 0,612-600,683}`
`java.lang.IllegalArgumentException: Tmp detached view should be removed from RecyclerView before it can be recycled`

[2016-06-05 15:52] ShamylZakariya commented on #9
I've been on vacation for a week, so sorry for the delay.

About how many items are there, on average, per section? I'm going to try to reproduce this, and see if there's a better way I can implement the `updateHeaderPositions` method. There are some places in my code where I thought, "I can optimize this later" and clearly later has arrived.

[2016-06-05 15:54] ShamylZakariya commented on #10
The only reason I can think that that would be called is if `sectionIndex` or `itemIndex` are wrong in some way.

The `itemIndex` is relative to the section. So section N's first item would have `itemIndex` of 0

[2016-06-05 15:56] ShamylZakariya commented on #5
I need more information if I'm going to be able to fix this. Perhaps you can post some of your code.

[2016-06-05 15:57] ShamylZakariya commented on #8
What are you asking? Do you want to click on a section header?

[2016-06-05 16:30] ShamylZakariya commented on #7
After doing some research, it's clear that scrollToPosition is implemented in the LayoutManager, not RecyclerView. I'll get cracking on it, as well as smoothScrollToPosition.

[2016-06-05 17:02] yilzer commented on #7
Thx for your response,

When you're working on scrollToPosition it may also be important to save the scroll position in onsaveInstance. You can do this by calling:  currPosition = recyclerView.findFirstVisibleItemPosition();
The findFirstVisibleItemPosition() method is also an method in the linearlayout manager. I think it's important to have this part also in your stickylayout manager.

[2016-06-06 07:20] pfaffenrodt commented on #5
I dont have code anymore. Created own Adapter without sticky.

If I correctly remeber, it can be reproduced with databinding. Or with the latest Support library.

I look to that I provide some reproducing code.

[2016-06-06 16:05] ShamylZakariya commented on #7
yilzer,

I've implemented `scrollToPosition` and `smoothScrollToPosition` in the adapter, and they appear to work though I will be testing them further. That being said, I have a *serious* performance issue with HUGE datasets (hundreds of sections, thousands of items) which I want to tackle before I push an update to bintray. I expect to have that taken care of in a couple days, and I'll let you k

[2016-06-06 17:55] ShamylZakariya commented on #6
@davideas I've just implemented scrollToPosition and smoothScrollToPosition, and am working on a performance fix for huge datasets. I'll be pushing an update this week with those fixes, and you're free to use it in any way you wish. If there's any specific functionality you'd like me to implement, such as clicking on headers let me know.

[2016-06-06 18:16] davideas commented on #6
@ShamylZakariya, great!
Actually, I was able to resolve all the crashing issues, and now my Adapter is quite stable, but inclusion of your LayoutManager remains a long base task to do.

Indeed, the click on the sticky item is necessary otherwise the event is propagated to the view below.
When I will have more time I will focus on this inclusion.
It would be nice to have a differentiation of the 3

[2016-06-06 19:39] ShamylZakariya commented on #9
I've identified the likely performance culprit, and will hopefully be pushing an update fixing this in the next day or so.

[2016-06-06 22:20] ShamylZakariya commented on #9
Good news, I've fixed the performance issue.

https://github.com/ShamylZakariya/StickyHeaders/commit/afa2f286242e55b4ae96bd44a10fa9d812035c85

I'll be posting an updated build to bintray this evening.

[2016-06-06 22:20] #9 closed

[2016-06-06 22:21] ShamylZakariya commented on #7
https://github.com/ShamylZakariya/StickyHeaders/commit/37859b00c177bd8fcfa52534331185f0a2f067bd

I've also fixed a huge performance problem, so I'll be posting an update to bintray tonight, or so.

[2016-06-06 22:23] #10 closed

[2016-06-06 22:24] ShamylZakariya commented on #5
If you can provide repro code I'll see what I can do to fix this, but since I've not actually seen this in any of my use I can't, on my own, fix this bug.

[2016-06-07 05:45] y2t opened #11 "May I ask why this error occurred?"
First of all thanks for this lib, it's great!

I don't know why this error occurs.
i just click on the item very quickly.

`java.lang.NullPointerException
                                                                                     at org.zakariya.stickyheaders.StickyHeaderLayoutManager.getViewViewHolder(StickyHeaderLayoutManager.java:599)

[2016-06-07 10:04] zdxiang opened #12 "why the minSdkVersion is 16"

[2016-06-07 17:33] ShamylZakariya commented on #11
When you say "I just click on the item very quickly" can you clarify? Is the list being modified -- items being added or removed?

[2016-06-08 01:49] y2t commented on #11
**This is ItemViewHolder class.**

`public class ItemViewHolder extends SectioningAdapter.ItemViewHolder implements View.OnClickListener {
        TextView personNameTextView;
        TextView detailTextView;

        public ItemViewHolder(View itemView) {
            super(itemView);
            personNameTextView = (TextView) itemView.findViewById(R.id.personNameTextView);
            detailText

[2016-06-08 03:51] ShamylZakariya commented on #12
I had no good reason to make it 16 and not 7. I guess I was just being conservative. I've changed it to 7. It compiles.

https://github.com/ShamylZakariya/StickyHeaders/commit/e03f9bd0ac541cf0f8341d16029e7191e3b59afc

[2016-06-08 03:51] #12 closed

[2016-06-08 03:53] ShamylZakariya commented on #8
I don't know what functionality you're asking for, but I just implemented collapsing sections, where you can call `SectioningAdapter::setSectionIsCollapsed` to collapse/expand sections.

https://github.com/ShamylZakariya/StickyHeaders/commit/a07ffcbd11e959ca403cac0290bbdcad60030ada

I'm assuming this is what you are asking for, so I'm closing this.

[2016-06-08 03:53] #8 closed

[2016-06-08 05:57] zdxiang commented on #2
so,it can not support some other types?

[2016-06-08 11:26] yilzer commented on #7
Great work man, i've just two more questions for you:

- if i have 20 items with sticky header in my adapter, when i press on item 7 in grid. I want to show item 7 in adapter, but it shows item 3. Do you have an solution for this, so that it scrolls to the exact item.

- If i leave my activity or fragment i want to save the item that is visible right now, so i can scroll back in onsaveinstance how

[2016-06-08 15:41] ShamylZakariya commented on #7
Yilzer

I'm implementing saved state for the StickyHeaderLayoutManager. It likely won't be completely automatic, though. You'll still need to explicitly pack and restore state in your activity's onSaveInstanceState, etc. See here: http://stackoverflow.com/questions/28236390/recyclerview-store-restore-state-between-activities -- I'll report when I've got this working.

Regarding your first point, a

[2016-06-08 16:12] yilzer commented on #7
Thanks man!

How do i determine the section index? , because the only value that i have at that moment is the value that i want to show to the user in the adapter.

[2016-06-08 17:17] ShamylZakariya commented on #7
First, I've implemented saved state and it appears to work.

https://github.com/ShamylZakariya/StickyHeaders/commit/dc63a98b8681f85b154c1d4875505aaac6b68826

Now, regarding your question, I guess I need to understand the problem. I'm parsing your usage as having one recyclerview -- and when users tap an item in it, the recycler scrolls that item to top of the viewport?

That being said, I've reali

[2016-06-08 17:23] yilzer commented on #7
Great work man, I have an fragment with grid images , when the user taps on one of the images he goes to an new activity with your adapter (sticky layout manager). Inside this activity the images are displayed like an feed ( large images instagram style). So if the user taps on item 3 i want to show item 3 in feed with large images.

[2016-06-08 18:30] ShamylZakariya commented on #7
So, if I understand correctly, what you have is a grid of items, indexed 0..N. Clicking on an item opens a list-like recyclerview detail using StickyHeaderLayoutManager where you have all those items, (0..N] but *each* is presented with its own header, where (presumably) the header is showing the item title/date/other-metadata. In your SectioningAdapter, each item gets its own section, with an ass

[2016-06-08 19:00] yilzer commented on #7
Great work again! This solved all my issues for now. This item can be closed!

[2016-06-08 21:08] ShamylZakariya commented on #7
Fantastic, glad I could help.

[2016-06-08 21:08] #7 closed

[2016-06-09 17:45] ShamylZakariya commented on #6
@davideas I've added collapsable sections, and while the (default) animation isn't *great*, the behavior is correct and reliable. I've also implemented `onSaveInstanceState` and `onRestoreInstanceState` to `StickyHeaderLayoutManager`.

I don't know if this is helpful, but thought you may be interested.

[2016-06-10 09:04] davideas commented on #6
Hello @ShamylZakariya, I checked your latest changes, you are doing a good jobs, no dubts  :+1:
Animation isn't great because you are using `notifyDataSetChanged()`!
Just keep in mind that now the custom Adapter you are making is not very usable, if not in the context of _sticky header_ / _sections_ only, and nothing else. Your Layout and Adapter are strictly related to each other's.

Now, you are

[2016-06-10 15:52] ShamylZakariya commented on #6
@davideas

If you look at the implementation of `SectioningAdapter::setSectionIsCollapsed` here https://github.com/ShamylZakariya/StickyHeaders/blob/master/stickyheaders/src/main/java/org/zakariya/stickyheaders/SectioningAdapter.java#L400 you'll see that I'm actually just reloading the section data, not calling `notifyDataSetChanged`. And when I complain about the animation, it's only that the def

[2016-06-10 15:52] #6 closed

[2016-06-12 12:05] pfaffenrodt commented on #5
I just try to reproduce this bug. But I could not. This is so annoying.

[2016-06-12 12:05] #5 closed

[2016-07-05 12:41] mohit-trantor opened #13 "Load More with sticky headers"
Can you please explain, How to use Load More functionality in this with sticky headers?

I am using the following link for load more feature:
https://guides.codepath.com/android/Endless-Scrolling-with-AdapterViews-and-RecyclerView
This works fine if I use LinearLayoutManager but that removes the Sticky header feature.

I want both the feature in one. Can you help me on this?

[2016-07-07 15:44] ShamylZakariya commented on #13
If you look at the source for the `EndlessRecyclerViewScrollListener` you'll see it's specifically designed for use with `LinearLayoutManager`, `GridLayoutManager` and `StaggeredGridLayoutManager`. Remember, *never just cut & paste code*. Read it too.

This seems like a useful addition for StickyHeaders though, so I will put this in my feature queue.

[2016-07-07 20:59] tjmille2 commented on #4
Can you go into more detail as to how you fixed this bug @ihsanbal? I am experiencing it in my activity as well. I have work that occurs in the background, after the async task finishes, it sets the RecyclerView adapter. This crash occurs if I am using the StickyLayoutManager, but not when using LinearLayoutManager.

Thnks

[2016-07-08 05:24] mohit-trantor commented on #13
I have finally done this by mixing extending LinearLayoutManager and adding code of StickyHeaderLayoutManager. It is working great.

Here is the file: https://gist.github.com/mohit-trantor/aca421a2359541ad23a0b4b827fc20d7

[2016-07-08 18:16] ShamylZakariya commented on #13
My plan is to add this functionality to my demo app, including the use of a loading progress view. I'll post a followup when it's implemented.

[2016-07-11 01:25] cordeveloper opened #14 "Collapsed Header overlaps with last item of previous section"
With headers A, B, and C:

Collapse header B. Scroll up so that C is the sticky header. Scroll back down to section A; the last item in the section now overlaps with header B.

Looks to be an issue with the layoutmanager class; I'll do some digging.

[2016-07-11 01:49] cordeveloper commented on #14
Effectively, it seems the last item of the previous section is being triggered to draw one index too early, and then the header is drawn on top; not too familiar with layout managers so it may take me a bit to track down exactly where this is happening.

[2016-07-11 02:40] cordeveloper commented on #14
Fixed it; when we skipped the header here:

[code]

You can't assume that the new position isn't also a header; it may be collapsed or an empty section. Simply repeat the check for the header on the new position, and if it's still a header break out.

Great library!

[2016-07-11 05:06] cordeveloper opened #15 "Can't Save after Detach"
Because we remove the adapter on detach, we can't save after the view is detached (another library I'm using performs the save there, so it's not ideal for me).

A tweak which shouldn't adversely affect anything would be to updateFirstAdapterPosition() in onDetachedFromWindow before removing the adapter, and then we can wrap the call to update in onSaveInstanceState to only occur if the adapter is

[2016-07-11 07:01] mohit-trantor commented on #13
ok Thanks

[2016-07-14 23:52] ShamylZakariya commented on #2
I've implemented multiple item types in a fairly robust way. Hopefully it's useful to you.

https://github.com/ShamylZakariya/StickyHeaders/releases/tag/v0.7.0

[2016-07-14 23:52] #2 closed

[2016-07-14 23:53] ShamylZakariya commented on #13
I've implemented a pretty solid paged loading mechanism for endless scrolling, including support for an "exhausted" paged data source, such that there's a concrete way to handle when no more items are available from the data source.

https://github.com/ShamylZakariya/StickyHeaders/releases/tag/v0.7.0

[2016-07-14 23:53] #13 closed

[2016-07-14 23:54] ShamylZakariya commented on #14
Good catch! I'll look into a fix pronto.

[2016-07-15 01:35] ShamylZakariya commented on #14
I didn't see your PR for this. Thanks!

[2016-07-15 01:35] #14 closed

[2016-07-15 01:45] #15 closed

[2016-07-18 09:46] mohit-trantor commented on #13
Great!!! Thanks..I will check that and let you know

[2016-07-19 06:32] xiang9311 opened #17 "When use with SwipeRefreshLayout, cannot swipe to refresh"
when i use this layout
`<android.support.v4.widget.SwipeRefreshLayout
        android:id="@+id/swipe_refresh_layout"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_below="@+id/top_line"
        android:background="@color/gray_background">

        <android.support.v7.widget.RecyclerView
            android:id="@+id/rv_study_list"

[2016-07-20 05:03] achinverma opened #18 "Null object reference SectioningAdapter.getItemViewType(int)"
Hi , i am using your lib to sticky header , i have an Tab layout with 2 fragments and when i try to get data from database in background and try to set adpater in the fragment onCreateView() method , i am getting

` java.lang.NullPointerException: Attempt to invoke virtual method 'int org.zakariya.stickyheaders.SectioningAdapter.getItemViewType(int)' on a null object reference `

in my fragment

[2016-07-20 05:04] achinverma commented on #4
i am also getting the same , please review my thread
https://github.com/ShamylZakariya/StickyHeaders/issues/18

please help me to fix this bug

[2016-07-20 05:12] achinverma commented on #18
and my SectioningAdapter.java

[2016-07-20 10:17] Neuron-Light commented on #18
I have the same error

[2016-07-20 14:25] albertorusso90 opened #19 "Get current visible item on screen"
Hi, is there a way to find out which item (that is not a section header) is currently being displayed on the screen?

Thanks in advance

[2016-07-21 01:41] xiang9311 commented on #17
it is my fault....
i forget to setrefresh(false)

[2016-07-21 01:41] #17 closed

[2016-07-21 22:07] ShamylZakariya commented on #19
No but it would not be hard to implement. Would your preferred use of this method return the adapter position of the first (non-header) item? Or the associated ViewHolder?

[2016-07-22 08:10] albertorusso90 commented on #19
oh thats great that you would implement this. For me it would be best if it returned the ViewHolder of the first (non-header) item

[2016-07-22 18:03] ShamylZakariya commented on #19
OK, so I'm going sailing this weekend, will not be coding. But since this seems like a useful feature which won't break anything to add or otherwise change behavior, I'll see about doing this early next week.

[2016-07-23 15:24] robertmallare commented on #18
Hi guys, I'm having this issue as well its kinda annoying  since I pretty sure got the code sample correct. Can someone provide a clear way to resolve this?

[2016-07-25 08:54] albertorusso90 commented on #19
ok great, i already implemented a custom way to get the view of the most visible item from the sectioned list view but looking forward to see your implementation (mine is a bit buggy)

[2016-07-25 15:59] ShamylZakariya commented on #19
This is implemented:
https://github.com/ShamylZakariya/StickyHeaders/releases/tag/v0.7.2

[2016-07-25 15:59] #19 closed

[2016-07-25 19:52] ShamylZakariya commented on #18
Can you make me a simple project that reproduces the bug? It would help.

[2016-07-27 13:38] pruthvirajha opened #20 "Header Position"
Hi first of all thanks for nice library, Is there a way to show header at the end of each section?

[2016-07-27 15:50] ShamylZakariya commented on #20
Headers, by design, go at the start of the section. If you want something to "bookend" the section's items, you can use a footer.

Footers do not do the sticky scrolling bit however.

[2016-07-29 03:33] #20 closed

[2016-07-29 07:25] juangranadilla commented on #18
I'm having the same issue. When I set the adapter inside a Retrofit callback, it shows the same error. When I set the adapter with manual data in the OnCreate method of the activity or fragment, it works fine.

[2016-07-29 07:26] achinverma commented on #18
@ShamylZakariya  please fix this issue

[2016-07-29 13:21] Meldoyo commented on #11
Hey, I think my bug is linked, here is the stacktrace

`java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object android.view.View.getTag(int)' on a null object reference
                                                                     at org.zakariya.stickyheaders.StickyHeaderLayoutManager.getViewViewHolder(StickyHeaderLayoutManager.java:730)

[2016-07-29 15:16] ShamylZakariya commented on #18
@juangranadilla that was the information I needed to understand what's been going on. Thanks!

The issue is a scenario where the StickyHeaderLayoutManager is assigned to the RecyclerView, but the SectioningAdapter isn't assigned until later in the lifecycle of the recyclerview.

I've created a test which reproduces the bug, and worked out a fix. Will be posting update pronto.

[2016-07-29 15:23] ShamylZakariya commented on #18
OK everybody, please give a shot with release 0.7.5 - let me know if it fixes (or doesn't fix) your crashes.

[2016-07-29 17:34] ShamylZakariya commented on #11
@Meldoyo this is *very* similar (if not identical) to a bug I encountered while implementing paged loading. Since I just (hopefully) fixed issue #18 I will put this at the top of my queue. Any chance you could whip up a simple demo app to reproduce this?

[2016-07-31 13:39] Meldoyo commented on #11
Sure i'll try to find some time to do it today or this week.

[2016-08-09 12:32] ihsanbal opened #21 "findFirstVisibleItemPosition"
For endless scrolling ,StickyHeaderLayoutManager need findFirstVisibleItemPosition() method.

[2016-08-09 18:41] ShamylZakariya commented on #21
I've already implemented endless scrolling, and have methods *similar* to your request, such as `StickyHeaderLayoutManager:: getFirstVisibleItemViewHolder`, etc.

See https://github.com/ShamylZakariya/StickyHeaders/blob/master/stickyheaders/src/main/java/org/zakariya/stickyheaders/PagedLoadScrollListener.java

And the demo code here:
https://github.com/ShamylZakariya/StickyHeaders/blob/master/app/

[2016-08-09 18:41] #21 closed

[2016-08-10 15:15] rusmichal opened #22 "Question. Is it possible to disable stickyheaders?"

[2016-08-10 19:09] ShamylZakariya commented on #22
That's not something I'd considered. I assume you mean that you'd want the headers "stickiness" to be toggleable? Some headers sticky, some not, or based on some change in data, a header that was sticky ceases to be sticky?

[2016-08-11 07:35] rusmichal commented on #22
I wanted just use you sectioning adapter without stikcyheaders. It works. I use just `LinearLayoutManager`

[2016-08-11 07:42] rusmichal opened #23 "IndexOutOfBoundsException: onBindItemViewHolder"
I found one issue

[code]

Where `feedDataProviders` is `List<FeedDataProvider>`. `FeedDataProvider` has list of custom objects `TileViewModel`.

I got `IndexOutOfBoundsException: Invalid index 0, size is 0` in line `initTile()` because `getTileViewModelList()` return empty list and `itemIndex` is 0. I think if `getNumberOfItemsInSection` return 0 then is should not called the `onBindItemViewHolde

[2016-08-11 13:43] ShamylZakariya commented on #22
The sectioning adapter works great with LinearLayoutManager. No need to do anything fancy. One of my app demos shows this.

[2016-08-11 13:43] #22 closed

[2016-08-12 13:05] tiendatit92 commented on #18
Hi guys, i am using your lib for my project, it worked very cool with header created. so i have a problem header when scrolling. It have not sticked at the top as same your demo showed. And i have found that the different your view is AppCompatActivity and mine is fragment. I have searched everywhere on google then i can not fix it. Can you review this problem. Thank you so much

[2016-08-12 19:51] rusmichal opened #24 "How to get properly getItemId"
Hello

I have `List` object of `FeedProvider` one feedprovider included `List` of ViewModels. I want to get hashcode of one viewmodel object.

[code]

But I got IndexOutOfBoundsException. What I am doing wrong?

[2016-08-19 18:09] ShamylZakariya commented on #23
Good point. I'll look into fixing this. Thanks!

[2016-08-30 07:06] musicha opened #25 "Wrong ItemViewHolder.getPositionInSection() value"
Since ItemViewHoldersetPositionInSection(positionInSection) is only called in onBindViewHolder the method ItemViewHolder.getPositionInSection() returns wrong value when new items were inserted and SectionAdapter.notifySectionItemInserted was called.

[2016-09-07 17:31] REWKyleB opened #26 "[Feature] Add DiffUtil support"
Add DiffUtil support which will allow the ability to dispatch updates to a sectioned list.

https://medium.com/@nullthemall/diffutil-is-a-must-797502bc1149#.f33ov92og

[2016-09-28 04:00] waincent opened #27 "Delete all selection Failed."
when I use toggleSectionSelected(index) method select all the selection.

use  traverseSelection() to delete the select, use notifySectionRemoved(index) refresh data, but this no work. only delete one **section** once.

I find you code in SectioningAdapter-->notifySectionRemoved() --> notifyAllSectionsDataSetChanged() --> selectionStateBySection.clear();

I guess the problem here.

[2016-10-03 19:12] jhpassion0621 opened #28 "ScrollToPosition Issue"
I added StickyheaderLayoutManager. It works well. But when I use scrollToPosition(int position) of this layout manager, it doesn't work well. How should I use scrollToPosition function?
What is position on recycler view of stickyheaders.

[2016-10-06 13:47] rMozes opened #29 "Wrong animation"
When we delete the last item, then the animation is wrong, because all items move up, but they need to move down.

[2016-10-10 16:19] EzimetYusup opened #30 "How to set all sections are collapsed by default"
hey, do you have any good idea about how to set All sections collapsed by default, currently all the sections are open by default.
Thanks!

[2016-10-13 14:20] JulienRaad commented on #5
I am facing the same issue, the layout is empty when using StickyLayoutManager, but the items are rendered when i use a normal LinearLayoutManager but the headers are not sticky.

What could be the issue ?

thank you

[2016-10-13 15:14] ShamylZakariya commented on #5
@JulienRaad Can you post your code? I'd like to reproduce this bug to fix it.

[2016-10-13 16:52] ShamylZakariya commented on #30
Right now you can call the method `SectioningAdapter:: setSectionIsCollapsed` and manually collapse each section. I will consider some option to cause sections to be collapsed by default

[2016-10-15 00:45] pfaffenrodt commented on #5
Maybe the RecyclerView is in wrap_content mode.

[code]

I just tried it. LinearLayoutManager supports wrap_content and StickyLayoutManger dont.
Well for me it is not necessary to support wrap_content, because in most cases RecyclerView has an fix size with "match_parent".

[2016-10-15 05:18] DalveerSinghDaiya opened #32 "Is it possible to add sticky footers?"

[2016-10-15 09:20] JulienRaad commented on #5
Thats it ! Thumbs up mate @pfaffenrodt  @ShamylZakariya

[2016-10-15 22:11] ShamylZakariya commented on #5
It honestly never occurred to me to wrap_content a recyclerview. Sounds like this is taken care of. Closing.

[2016-10-30 15:05] ryc16 opened #33 "Will you have a plan to include fast scroller?"
It would be nice and convenient to include fast scroller. Any plan to have it soon?

[2016-10-30 21:52] ShamylZakariya commented on #33
Fast scroller? Can you clarify?

[2016-11-02 18:40] ryc16 commented on #33
@ShamylZakariya, the scroller bar often on the right hand side where user could touch it and move down to scroll to the position.

[2016-11-04 16:23] TheLoyalCruel opened #34 "how to use animation?"
Hi
I use this lib to animate recyclerview : [https://github.com/wasabeef/recyclerview-animators](url)
but when i use SectioningAdapter i get this cast error :

`Caused by: java.lang.ClassCastException: StickyHeaderLayoutManager must be used with a RecyclerView where the adapter is a kind of SectioningAdapter
                                                                       at org.zakariya.sti

[2016-11-05 09:45] akshaycrt2k commented on #28
I have the same issue. Everything works well except "recyclerView.scrollToPosition(position);"

[2016-11-07 18:26] EzequielMessore commented on #5
@pfaffenrodt working ?

[2016-11-08 20:13] pfaffenrodt commented on #5
@EzequielMessore I dont understand your question. Solution is simple. Make sure height of your recyclerView is match_parent.

[code]

[2016-11-14 19:38] EzequielMessore commented on #5
@pfaffenrodt I changed it displayed, but it breaks the card.

[2016-11-18 15:33] EzimetYusup opened #35 "Everything is disappearing"
Hey @ShamylZakariya   how u doing !recently I found an issue : when I collapse last section everything is disappeared, last section was sticky on top, and has 10 child items, when I collapse them everything is gone, here i changed this line :
[https://github.com/ShamylZakariya/StickyHeaders/blob/master/stickyheaders/src/main/java/org/zakariya/stickyheaders/SectioningAdapter.java#L938](url)
to  off

[2016-11-18 16:16] EzimetYusup commented on #35
the scenario was I have 3 section all has header, no footer, 1st and 2nd section each has one child item, but 3rd has 10 child items, all section was open, section 3 was sticky on top and clicked header to collapse section 3, then everything is disappeared.

[2016-11-18 21:44] ShamylZakariya commented on #35
I'm on vacation in Hawaii, Burt I'll take a look at this when I have the
opportunity.

On Fri, Nov 18, 2016, 6:16 AM EzimetYusup <notifications@github.com> wrote:

--

Shamyl Zakariya

https://shamylzakariya.github.io/

[2016-11-18 22:21] EzimetYusup commented on #35
@ShamylZakariya Cool, Enjoy ur vacation, just ping me when u get a chance to look at.

[2016-11-20 02:12] ShamylZakariya commented on #35
Hey, I've looked at the method in question, and replacing `+=2` with `+=1` may fix it for your use case, but it will break everything else. So I need to figure out a more comprehensive fix. Can you make me a *minimal* demo app which reproduces this? You can use the library's demo code as a skeleton.

[2016-11-20 05:20] EzimetYusup commented on #35
@ShamylZakariya  Sure, I can make one and will let u know!

[2016-11-20 05:46] EzimetYusup commented on #35
Hey @ShamylZakariya  change  this line to [https://github.com/ShamylZakariya/StickyHeaders/blob/master/app/src/main/java/org/zakariya/stickyheadersapp/ui/CollapsingSectionsDemoActivity.java#L19](url)
[code]
then do following :
![sticky](https://cloud.githubusercontent.com/assets/7555642/20460720/bbc62318-aeba-11e6-8f97-d20df8d1fcb8.gif)

[2016-11-20 05:56] EzimetYusup commented on #35
@ShamylZakariya  I found that in this case, when calling notifyItemRemoved method of RecyclerView, the position is not correct.

[2016-11-21 07:18] visro opened #36 "use inside NestedScrollView"
my xml layout is:
`<android.support.v4.widget.NestedScrollView
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    app:layout_behavior="@string/appbar_scrolling_view_behavior"
    android:fillViewp

[2016-11-27 19:26] adrianaisemberg opened #38 "animateLayoutChanges -> exception"
java.lang.IllegalArgumentException: **Scrapped or attached views may not be recycled. isScrap:false isAttached:true**
             at android.support.v7.widget.RecyclerView$Recycler.recycleViewHolderInternal(RecyclerView.java:5420)
             at android.support.v7.widget.RecyclerView$Recycler.recycleView(RecyclerView.java:5364)
             at android.support.v7.widget.RecyclerView$LayoutManager

[2016-11-27 19:36] adrianaisemberg commented on #38
I'd like to see new/deleted items animated.

[2016-11-28 15:01] EzimetYusup commented on #35
Hey @ShamylZakariya ! did you get any chance to take a look at it?

[2016-11-28 15:28] TheLester opened #39 "notifySectionFooterRemoved wrong index logic"
At the end of the method  _notifySectionFooterRemoved_  you have such piece of code:

`notifyItemRemoved(section.adapterPosition + section.length - 1);`

Suppose i have 24 items in my section, one header and one footer (total item count -27),. I want to remove my footer So after my call  _notifySectionFooterRemoved_   _buildSectionIndex()_ will assign to section.length = 26 (24 (items)+ 2(header a

[2016-11-28 17:39] TheLester commented on #39
https://github.com/ShamylZakariya/StickyHeaders/pull/40

[2016-11-28 19:34] ShamylZakariya commented on #35
I'll be working on this this week I hope to have a fix or some kind of
workaround in a few days.

On Mon, Nov 28, 2016 at 7:01 AM EzimetYusup <notifications@github.com>
wrote:

--

Shamyl Zakariya

https://shamylzakariya.github.io/

[2016-11-28 20:34] EzimetYusup commented on #35
@ShamylZakariya  Ok cool! thanks!

[2016-11-29 18:21] ShamylZakariya commented on #35
@EzimetYusup Can you try updating your repo? I've pushed a few changes to update the gradle files, which includes bringing in recyclerview 25.0.1. This new version of recyclerview seems to fix a longstanding bug I was experiencing, and it also seems to not *fix* per se but change how  your bug manifests.

What I'm seeing now is that instead of going blank, the recyclerview scrolls to the top.

Let

[2016-11-29 18:38] ShamylZakariya commented on #39
Thanks for catching this.

[2016-11-29 18:38] #39 closed

[2016-11-29 18:39] ShamylZakariya commented on #38
Can you provide sample code to replicate this?

[2016-11-29 19:42] ShamylZakariya commented on #36
For StickyHeadersLayoutManager to work, your recyclerview needs to have constant height, or `match_parent` or have a height of 0 and a layout_weight of some non-zero value. StickyHeadersLayoutManager expects to scroll, and if you use `wrap_content`, you will be definition not get scrolling behavior.

If you want sectioning layout but want `wrap_content` behavior, you can use `SectioningAdapter`, b

[2016-11-29 19:42] #36 closed

[2016-11-29 19:45] ShamylZakariya commented on #32
This is on the radar, but low priority.

[2016-11-29 19:45] #32 closed

[2016-11-29 19:46] adrianaisemberg commented on #38
It happens also when using a RecyclerView with the default adapter. Seems
like it's not an issue with your library.
Please feel free to close the issue...

Adrian Aisemberg

Get Tapet for Android
<https://play.google.com/store/apps/details?id=com.sharpregion.tapet>

On Tue, Nov 29, 2016 at 10:39 AM, Shamyl Zakariya <notifications@github.com>
wrote:

[2016-11-29 20:05] ShamylZakariya commented on #27
I've tested this behavior thoroughly; in my tests it works correctly. My guess is you're not correctly modifying your underlying model correctly?

[2016-11-29 20:09] ShamylZakariya commented on #28
Can you describe what the scrolling behavior is doing incorrectly?

If you run my demo app, in (e.g.) the AddressBook demo, there's a menu item looking like an arrow pointing down. Tap that and a dialog will open with scroll to position choices. They work for me (barring weirdness with collapsing appbarlayout).

See here:
https://github.com/ShamylZakariya/StickyHeaders/blob/master/app/src/main/jav

[2016-11-29 20:10] ShamylZakariya commented on #38
Ok, cool. I've seen a *lot* of issues with RecyclerView crashing when certain types of changes happen during a scroll (while the user's finger is still touching the screen). The newer recyclerview 25.0.1 seems to fix some of these.

[2016-11-29 20:10] #38 closed

[2016-11-29 22:00] ShamylZakariya commented on #34
`StickyHeaderLayoutManager` requires the use of `SectioningAdapter` to work. That's just how it is.

You'll note that the `recyclerview-animators` project is supplying adapters that do the fancy work. My suggestion to you is to write a custom `SectioningAdapter` subclass, and adapt whatever animation techniques `recyclerview-animators` is using.

[2016-11-29 22:00] #34 closed

[2016-11-29 22:03] ShamylZakariya commented on #29
Maybe you can describe the behavior more clearly?

I'm using the default RecyclerView animations - so this is working correctly as far as I can tell.

[2016-11-29 22:41] ShamylZakariya commented on #35
@EzimetYusup BTW, how did you encode that animated GIF? It's *much* better looking than my screen recordings.

[2016-11-29 22:57] EzimetYusup commented on #35
@ShamylZakariya  hey, thanks for  getting back to me, I did not get chance to update the repo today, will do tomorrow.
this is what I used:
![screen shot 2016-11-29 at 5 55 54 pm](https://cloud.githubusercontent.com/assets/7555642/20732523/1a463df2-b65d-11e6-9488-a2ba23c5c85c.png)

[2016-11-30 02:26] akshaycrt2k commented on #28
Hi,
Sorry I forgot to edit my comment.
Turned out I was passing wrong position to that method.

Everything is working great.

[2016-11-30 04:33] ShamylZakariya commented on #28
OK, good.

[2016-11-30 04:33] #28 closed

[2016-11-30 14:49] EzimetYusup commented on #35
Hey @ShamylZakariya , I just upgraded the repo, and found that the bug is still exist, unless I do  offset += 1;

[2016-11-30 14:51] EzimetYusup commented on #35
@ShamylZakariya is  this offset += 1;  change, breaking  something?

[2016-11-30 16:57] ShamylZakariya commented on #35
@EzimetYusup It breaks the method: the `+2` is required, because `StickyHeaderLayoutManager` vends *two* headers per section. One which is placed in its natural position, and which doesn't draw anything, and a second one which is the visible, sticky one. Because is uses two headers, the adapter position must be advanced by two steps.

I am looking into a fix for this, but the switch from `+= 2` to

[2016-12-01 09:19] mdaniel56 opened #41 "Manifest merge failed - application@label"
The manifest merge task will fail when trying to set the application label if the project also set the label for the application.
Is the label really needed ? Couldn't find an easy way to avoid this as tools:replace does not seem to work.

  is also present at [org.zakariya.stickyheaders:stickyheaders:0.7.5] AndroidManifest.xml:12:9-41 value=(@string/app_name).
  Suggestion: add 'tools:replace="an

[2016-12-07 13:03] joaonora opened #42 "2 columns or more of Items"
How can i say that in 1 section, the item will be displayed in 2 columns with the StickyHeaderLayoutManager ?

thanks in advance

[2016-12-13 15:53] nicholasrout opened #43 "Calling `notifyAllSectionsDataSetChanged` does not work as expected"
When refreshing a data set, the suggested method call is `notifyAllSectionsDataSetChanged()`.

I would imagine this to clear all collapsed states, ensuring that each section is no longer collapsed. This is not the case, as can be seen in the example app's 'Collapsing Headers' demo. Try collapsing a section, then hit 'Reload' from the menu. The header view's state is restored to appear not collapse

[2016-12-15 14:52] nicholasrout commented on #33
Something along the lines of this library would be great:
https://github.com/timusus/RecyclerView-FastScroll

[2016-12-16 20:54] evasquezcr opened #44 "OnClick"
Hello, is there any way to use onClickITem...?

[2016-12-19 12:53] dimsuz opened #45 "Layout manager ignores bottom padding of RecyclerView"
I have a `RecyclerView` with `paddingBottom="16dp"`. When using `StickyHeaderLayoutManager()` this padding is not there. If I switch to `LinearLayoutManager()` it is correctly rendered.

[2017-01-11 12:52] AnjunaPiyu opened #46 "PagedLoadScrollListener issue"
Hi,

I added PagedLoadScrollListener after setting adapter to recyclerview to adapter.
Its works properly. But sometimes it does not work. I have to add PagedLoadScrollListener method after setting data to adapter.

Can you explain me why it works that way???

[2017-01-15 13:55] NehaMadiwal opened #47 "android:clipToPadding="false" not working with StickyHeaderLayoutManager"
I need to use **android:clipToPadding="false"** for Sticky Header RecyclerView with some top padding. I am not able to get it working with **StickyHeaderLayoutManager**. It's working fine if used with ** LinearLayoutManager**

[2017-01-21 17:10] jomapp opened #48 "Error: "Scrapped or attached views may not be recycled" with LinearLayoutManager"
Hi, I need to use the LinearLayoutManager instead of StickyHeaderLayoutManager. But while using the LinearLayoutManager it's constantly crashing with the following error message:

`E/AndroidRuntime: FATAL EXCEPTION: main
                                                                          Process: de.munichsdorfer.timelog, PID: 24648

[2017-01-26 11:53] BraisGabin opened #49 "Add notifySectionHeader*"
We have the `notifySectionFooterInserted`, `notifySectionFooterRemoved` and `notifySectionFooterChanged`.

But we don't have `notifySectionHeaderInserted`, `notifySectionHeaderRemoved` and `notifySectionHeaderChanged`. Add them would be usefull.

[2017-01-26 12:37] BraisGabin commented on #49
As a workaround for `notifySectionHeaderChanged(sectionIndex)` you can use: `notifyItemChanged(getAdapterPositionForSectionHeader(sectionIndex))`.

[2017-02-01 22:56] StephenMilone commented on #47
Same issue here. Please advise.

[2017-02-09 07:09] bhavyahmehta opened #51 "Edge fading not working.."
Sample code...

[code]

[2017-02-13 19:14] pierrediderot commented on #48
+1

[2017-02-14 12:55] pierrediderot commented on #48
@jomapp I solved this problem using `layoutManager="org.zakariya.stickyheaders.StickyHeaderLayoutManager"`

[2017-02-15 08:33] sgtraptor opened #52 "Many sections cause "...too much work on its main thread""
Hi,

I'm developing an app where I use your library to show list of speficic documents. There are around 35 sections with 3 items in each of them. On HTC10 everything is fine, but on older phones such as Nexus 5, view is really choppy and I can see in console: Skipped 703 frames!  The application may be doing too much work on its main thread. - almost all the time. When I sort the list to 5 sectio

[2017-02-17 18:12] amouly commented on #47
Same issue for me.

[2017-02-27 10:09] carozhu opened #53 "Sliding Caton"
hello.I just do like this:
in stickyHeaderLayoutManager.setHeaderPositionChangedCallback(...(){

 //do left recyclerView smoothScrollToPosition(sectionIndex);
   cause to  Rv StickyHeader Sliding Caton.

})
can you tell me why?

[2017-03-09 12:36] Dimezis commented on #47
Is it planned to implement the support of `clipToPadding`?

[2017-03-16 10:51] omrital opened #54 "different view types"
hi,
is it possible to implement different types of view for item row ?
i tried to do so according to the adapter functions but i found it not really possible.
if there is a way please share
thank you for your time !

[2017-03-24 20:00] RaviLalwani556 commented on #54
@Override
    public int getSectionItemUserType(int sectionIndex, int itemIndex) {
}

In this you will define which item type

 @Override
    public ItemViewHolder onCreateItemViewHolder(ViewGroup parent, int viewType) {
        if (viewType == MESSAGE_TYPE_AUTHOR) {
            View view = LayoutInflater.from(context).inflate(R.layout.author_message_list_item, parent, false);
            return n

[2017-03-27 14:49] BoukhariAyoub opened #55 "Add payloads"
it's mentionned in the documentation tahat we should avoid th use of notifyItemChanged();
But the problem is there is no method in the library that allows us to pass the payloads

`public final void notifyItemChanged(int position, Object payload) `

[2017-03-29 12:59] hayahyts opened #56 "Need Tutorial"
Hello Zak, I really like your project and I'm interested in using it in a beautiful app am building. Anyway, I would like to request for a tutorial to be made on such a nice project. Finding it difficult to implement.

Thanks
Regards

[2017-03-30 09:02] Dimezis opened #57 "smoothScrollToPosition doesn't work properly"
There's a bug in StickyHeaderLayoutManager smoothScrollToPosition implementation.
In case if current position is above the target position, smoothScrollToPosition scrolls the list to some random position, but always before the actual target.

Regular scrollToPosition works fine.

[2017-04-18 15:28] ericta opened #58 "Is this library supporting grid list?"
as I see from the demo, we need to use StickyHeaderLayoutManager, but I need to support grid view, what should I do?
thanks!

[2017-04-27 18:18] EzimetYusup commented on #48
@pierrediderot  the problem is when  trying to use SectioningAdapter with LinearLayoutManager not with StickyHeaderLayoutManager, @ShamylZakariya do you have any idea about this issue?

[2017-04-27 18:42] EzimetYusup commented on #48
@jomapp when is it crashing for you?

[2017-04-27 18:59] EzimetYusup commented on #48
@jomapp  could you try this code? create custom LinearLayoutManager and override this method
[code]

[2017-04-27 23:23] ShamylZakariya commented on #48
Can you provide a simple demo app which exhibits the behavior? I never saw this during development.

[2017-04-28 00:58] EzimetYusup commented on #48
@ShamylZakariya  me too, I saw it only on Crashlytics.

[2017-04-28 01:03] wisnukurniawan opened #59 "How to use payload with this lib?"
Like in this doc https://developer.android.com/reference/android/support/v7/widget/RecyclerView.Adapter.html#onBindViewHolder(VH, int, java.util.List<java.lang.Object>)

[2017-05-05 05:42] vishnuc156 commented on #5
I got the same issue while using RecycleView inside the NestedScrollView.
When i change the StickyHeaderLayoutManager to LinearLayoutManager the list shows with header. But i need the header as Sticky. Below is my layout

<android.support.v4.widget.NestedScrollView
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools

[2017-05-06 12:30] Rendiarca opened #60 "Is this library supporting fragment/DialogFragment ?"
Thanks to the awesome lib, StickyHeaderLayoutManager works very well on the activity but in fragment it displays blank space. I need StickyHeaderLayoutManager to support fragments, what should I do?
Thanks again! 👍

[2017-05-12 08:01] jmaricic commented on #48
I'm having the same issue... This is what my adapter looks like:

public class WalletAdapter extends SectioningAdapter {

    static final boolean USE_DEBUG_APPEARANCE = false;

    private List<Transaction> transactions;
    private List<Section> sections = new ArrayList<>();

    public WalletAdapter() {
    }

    private class Section {
        String alpha;
        List<Transaction> transacti

[2017-05-17 06:47] #60 closed

[2017-05-24 13:14] BraisGabin opened #61 "notifySectionRemoved has a bug"
I want to remove the last 5 sections in my adapter. Let's say from index `15` to index `19`.

The first call I do `adapter.notifySectionRemoved(19)` works great. But when I call `adapter.notifySectionRemoved(18)` I have this stack trace:

[code]

The problem is that after the first `notifySectionRemoved` the Adapter recreates the `ArrayList<Section> sections` array from scratch. Using the current

[2017-05-24 13:20] BraisGabin opened #62 "[FR] allot to notify header inserted/removed/changed"
Implement `notifySectionHeaderInserted`, `notifySectionHeaderRemoved` and `notifySectionHeaderChanged`.

[2017-05-25 15:21] mancj opened #64 "NestedScrollView problem"
Hi. Thanks for this amazing library!

I have a view with the following structure
[code]
When I scroll NestedScrollView, the list is also scrolled, but the ImageView is not moving.
How to fix it?

[2017-05-30 03:07] ProgrammerYuan opened #65 "What if I want to make the sticky header move when the footer arrived the top?"
Hi, first I want to thank you for this great work, it helps me a lot.
Here's the thing: I want to achieve this special effect when the footer-like thing(red-marked in the pic) arrives the top and the header moves with it instead of waiting for the next header. I've tried including this part into the next header and apparently it will stay on the top of the screen. Anyway I can do this without chan

[2017-06-15 02:08] DS-Dj opened #66 "Get position in index does not update"
I have a list view which I want to remove items from when the user interacts.

The code I am running is like this:
`dismiss.setOnClickListener(new View.OnClickListener() {
                @Override
                public void onClick(View view) {
                    int sectionIndex = getSection();
                    int itemIndex = getPositionInSection();

                    items.get(getKeyFor

[2017-06-15 02:35] DS-Dj commented on #66
Managed to find a work around, but still has crashes when a section has been removed and removing the last item in the list. For anyone who is stuck try this code

    int i = getAdapterPosition();
    int sectionIndex = getSectionForAdapterPosition(i);
    int itemIndex = getPositionOfItemInSection(sectionIndex, i);

[2017-06-15 05:17] mmangliers commented on #35
Easy fix in onLayoutChildren:

`firstViewAdapterPosition = state.getItemCount() - 1;`

instead of setting to 0 (first item) on screen clear, set to last item. I can make a pull request if you want but it's a pretty tiny fix

[2017-06-15 05:36] mmangliers commented on #65
A hacky solution would be to override getSectionHeaderUserType and implement your footer as a header (have the footer and header return different numeric codes). Just use your footer layout when itemType is whatever you used to denote the footer in onCreateHeaderViewHolder. Messy but should work.

[2017-06-21 18:43] kedarv opened #68 "LinearLayoutManager causes headers to not stick"
The following code causes the headers to not stick:

[code]

any ideas?

[2017-06-21 18:44] #68 closed

[2017-06-28 04:36] vsl1993 opened #69 "RecycleView with wrap_content with StickyLayoutManager is not working"
I am adding another LinearLayout bottom of recycling view but recyclerView not visible.

`<?xml version="1.0" encoding="utf-8"?>

<android.support.design.widget.CoordinatorLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent"

    <android.support.des

[2017-07-12 22:52] matheuskiser commented on #48
@ShamylZakariya, @EzimetYusup, I am also getting the same error when only using HeaderViews and not Footers. The solution was not adding the GhostView to the parent ViewGroup in SectioningAdapter.onCreateGhostHeaderViewHolder. https://github.com/ShamylZakariya/StickyHeaders/pull/70.

[2017-08-09 07:27] pazbo commented on #66
Hey, Are you going to fix this issue?

[2017-10-18 13:54] shenditya opened #71 "[Req] filter a RecyclerView with a SearchView"

[2017-10-19 07:07] tp6gl4cj86 opened #72 "notifySectionItemRemoved wrong position"
notifySectionItemRemoved(0, x)
is always
notifySectionItemRemoved(0, 0)

[2017-10-23 06:19] #72 closed

[2017-10-24 07:28] jayattma opened #73 "smooth scroll to a perticular section"
how to do smooth scroll to a perticular section when click on a button.

[2017-10-24 10:07] jayattma commented on #57
i have same issue.how to scroll to perticular section

[2017-11-03 08:49] vanlooverenkoen opened #75 "Update the first header."
Hi,

Our can change over time is there a way to update a specific header?
Something like:
notifyHeaderDataSetChanged(index)

[2017-11-07 09:57] The-RobinHood commented on #64
Hey,
Did you find the solution?

[2017-11-07 10:15] tulioccalazans commented on #64
Hi!

Formerly in a structure where a ScrollView encompasses a listview, the total size of the list view judging all items was calculated and set in the listview so that only the scroll of scrollview would work, but today has the nestedscrollview option.

Maybe this post can help you.
Take a look at: [https://stackoverflow.com/questions/31000081/how-to-use-recyclerview-inside-nestedscrollview](url)

[2017-11-07 10:27] The-RobinHood commented on #64
Link is dead.
And I'm using nestedscrollview though its working, its scrollup entire content instead header stick.

[2017-11-07 10:31] tulioccalazans commented on #64
Take a look at: [https://stackoverflow.com/questions/31000081/how-to-use-recyclerview-inside-nestedscrollview](https://stackoverflow.com/questions/31000081/how-to-use-recyclerview-inside-nestedscrollview)

[2017-11-07 10:56] tulioccalazans commented on #64
Well, it seems that it's not the behaviour we want. BUT if StickyHeaderLayoutManager MUST be used in conjunction with SectioningAdapter, maybe you can customize the SetioningAdapter like that:
[https://github.com/lopspower/HFRecyclerView](https://github.com/lopspower/HFRecyclerView)

[2017-11-07 13:03] The-RobinHood commented on #64
Its not helpful.

[2017-11-23 15:15] crino commented on #47
Just replace line 788 in `StickyHeaderLayoutManager.java`
with
`int top = getClipToPadding() ? getPaddingTop() : 0;`

[2017-11-26 17:32] #71 closed

[2017-11-28 10:13] keyurbelani opened #76 "SectioningAdapter and StickyHeaderLayoutManager not work with ScrollView"
I want to use SectioningAdapter and StickyHeaderLayoutManager with recyclerview but recyclerview is not shown or populated when recyclerview is inside scrollview.

[2017-12-13 15:06] kaloglu opened #77 "Nested RescyclerView does not work with WRAP_CONTENT"
Nested Recyclerview in CardView work with LinearLayoutManager but does not work with StickyHeaderLayoutManager.

[2017-12-15 18:07] aloj22 opened #78 "Notify header section changed"
I think there is no method to notify a header change, I'm using notifySectionDataSetChanged(sectionIndex) but it refreshes the whole section and it causes my header to be transparent and items below are shown.

[2017-12-18 02:47] iad24 opened #79 "Vertical Spacing Decorator for Item Views Only"
I usually use this decorator to put space between items in a recyclerview:

[code]
But when I apply here, the section headers will also get the spacing. How to apply only to the item views?

[2017-12-18 03:20] iad24 commented on #57
Anyone have fixed or got some work around on this?

[2017-12-18 05:46] iad24 opened #80 "Question on the items view and header position"
Just want to clarify something on position of the items.
The header part also take the position right? Like below?
I need the position for scrollToPosition function.

Section 1 -> 0 (position in the recyclerview)
    Item 1 -> 1
    Item 2 -> 2
Section 2 -> 3
   Item 1 -> 4
   Item 2 -> 5

Cos if I want to show the Section 2 in the top of the recycler.
But it seems its not working properly; especi

[2017-12-18 09:49] tulioccalazans commented on #80
Hi. Check if these positions is really correct.
Normally the footer must be taken in consideration to redirect to correct position.

[2017-12-18 10:57] iad24 commented on #80
i dont use the footer. so i return false for doesSectionHaveFooter.
So footers dont count here

[2017-12-19 00:26] iad24 commented on #80
I have fixed my issue. Above im using my own positions; the right way is to use the adapter positions.
like

recyclerView.scrollToPosition(adapter.getAdapterPositionForSectionHeader(sectionIndex))
recyclerView.scrollToPosition(getAdapterPositionForSectionItem(sectionIndex, itemIndex))

[2017-12-19 00:26] #80 closed

[2017-12-19 04:52] monishkamble opened #81 "How to get lastVisibleItem?"
I want to register a scroll listener on recyclerview and perform some task when user scrolls to the end (or end - n) of the list. Is there any way to get the last visible item or section like LinearLayoutManager's linearLayoutManager.findLastVisibleItemPosition().

[2017-12-21 06:43] The-RobinHood commented on #81
Hey, did you get any solution?

[2018-01-02 06:11] charuraninag opened #82 "Getting IndexOutOfBoundsException - adapterPosition cannot be > getItemCount() on Android 7"
Fatal Exception: java.lang.IndexOutOfBoundsException: adapterPosition (8) cannot be > getItemCount() (8)at org.zakariya.stickyheaders.b.a(SectioningAdapter.java:1198)at org.zakariya.stickyheaders.b.p(SectioningAdapter.java:1244)at org.zakariya.stickyheaders.StickyHeaderLayoutManager.q(StickyHeaderLayoutManager.java:840)at org.zakariya.stickyheaders.StickyHeaderLayoutManager.f(StickyHeaderLayoutMan

[2018-01-02 23:33] SoaresGabriel commented on #82
I'm having the same issue, it happens when i delete the last itens from the last section, and call notifySectionDataSetChanged(index)

[2018-01-05 06:33] monishkamble commented on #81
I wanted to implement load more recyclerview. I achieved it using `PagedLoadScrollListener`. Refer **Paged Scrolling** in the demo app.

[2018-01-05 18:34] imobiling opened #84 "Show section header when section is empty"
When the section is empty, I'd like to show the section header so that user will be able to add data to the correct section.

Currently when the section is empty, nothing (no section or section header) is shown for the recycler view.

Is there any quick solution for this?

thanks a lot!
Helen

[2018-01-08 18:34] imobiling commented on #84
any update on this issue or any clarification needed?

[2018-01-10 19:14] imobiling commented on #84
anyone can help fix this issue?

[2018-01-12 13:41] ahmedalaa92 opened #85 "onCreateHeaderViewHolder is not called"
the onCreateHeaderViewHolder override method is not being called however onCreateItemViewHolder is called and working fine
Kindly check my adapter class below
public class MenuRecyclerAdapter extends SectioningAdapter {

    private Context context;
    private ArrayList<Menu> data;
    private ArrayList<Section> sections = new ArrayList<>();

    public MenuRecyclerAdapter(Context context, ArrayL

[2018-02-07 03:09] baiguangyuan commented on #85
Did you override doesSectionHaveHeader function of SectioningAdapter.
<pre><code>
	/**
	 * @param sectionIndex index of the section in question
	 * @return true if this section has a header
	 */
	public boolean doesSectionHaveHeader(int sectionIndex) {
		return false;
	}
</code><pre>

[2018-02-07 03:10] baiguangyuan commented on #84
Did you override doesSectionHaveHeader function of SectioningAdapter.

	/**
	 * @param sectionIndex index of the section in question
	 * @return true if this section has a header
	 */
	public boolean doesSectionHaveHeader(int sectionIndex) {
		return false;
	}

[2018-02-07 03:22] baiguangyuan commented on #82
Call notifySectionItemRemoved(sectionIndex, itemIndex) method instead of notifySectionDataSetChanged(index)

<pre>	/**
	 * Notify that an item has been removed from a section
	 * Never directly call notifyItemRemoved
	 *
	 * @param sectionIndex index of the section
	 * @param itemIndex    index of the item in the section where 0 is the first position in the section
	 */
	public void notifySectionI

[2018-02-10 10:19] AdityaAnand1 commented on #30
Where do we call setSectionIsCollapsed? If I do it in `onBind..` it complains that I can't do that while RecylerView hasn't finished drawing, if I do it elsewhere it will have already laid out the section first and then begin the closing animation, which looks weird and jumpy.

[2018-02-14 06:34] hpmuthu opened #86 "No adapter attached; skipping layout issue inside fragment"
No adapter attached; skipping layout issue inside fragment.  Working correctly with LinearLayoutManager.

`adapter = new StockListAdapter(getActivity(),productStockList,width,height);
        stockRecyclerView.setAdapter(adapter);
        stockRecyclerView.setLayoutManager(new StickyHeaderLayoutManager());`

[code]

[2018-02-23 14:58] DanielNovak commented on #48
Are you maybe using `animateLayoutChanges` on that RecyclerView? We had the same issue and it was because we (unintentionally) had this flag set. https://stackoverflow.com/questions/26477660/recyclerview-crashes-when-scrapped-or-attached-views-may-not-be-recycled/26479862#26479862

[2018-02-23 21:36] matheuskiser commented on #48
@DanielNovak I'm not using `animateLayoutChanges`.

[2018-02-26 11:58] pierrediderot commented on #48
I only use StickyHeaderLayoutManager, because when I use LinearLayoutManager and I use the crazy scroll, this error happens.

[2018-02-27 23:47] elitelokesh opened #87 "ViewHolder views must not be attached when created?"
02-28 05:16:37.431 1676-1676/com.elite.foodrepublic.dev E/AndroidRuntime: FATAL EXCEPTION: main
                                                                          Process: com.elite.foodrepublic.dev, PID: 1676
                                                                          java.lang.IllegalStateException: ViewHolder views must not be attached when created. Ensure that you are not

[2018-02-27 23:51] elitelokesh commented on #87
@Override
    public ItemCategoryViewAdapter.ViewHolder onCreateItemViewHolder(ViewGroup parent, int itemType) {
        View view = LayoutInflater.from(context).inflate(R.layout.indiv_stall_detail_category, parent, false);
        return new ItemCategoryViewAdapter.ViewHolder(view);
    }

    @Override
    public HeaderViewHolder onCreateHeaderViewHolder(ViewGroup parent, int headerType) {

[2018-02-28 00:55] Dona278 commented on #87
I had the same error after updating support libraries to version 27.1.0

[2018-02-28 01:29] Dona278 commented on #87
@elitelokesh seems to be caused by `onCreateGhostHeaderViewHolder` in [SectioningAdapter.java](https://github.com/ShamylZakariya/StickyHeaders/blob/b498b9d4006aac60bae7a2db487f7435ac2be371/stickyheaders/src/main/java/org/zakariya/stickyheaders/SectioningAdapter.java#L268) and related to [this pull request](https://github.com/ShamylZakariya/StickyHeaders/pull/70).

The `parent.addView()` method use

[2018-02-28 21:31] RonEskinder opened #88 "Implementation of Filterable not working"
When i implement Filterable and make a search, the results wont get updated after  `notifyDataSetChanged();`, any ideas on why is this happening?

    public class AdapterTransactionList extends SectioningAdapter implements Filterable {

    static final String TAG = AdapterTransactionList.class.getSimpleName();
    static final boolean USE_DEBUG_APPEARANCE = false;

    private List<Transactions>

[2018-03-05 12:39] aleksandra-majchrzak opened #89 "Crash on scroll during item removal animation"
In my RecyclerView row I have a button that removes row with default recyclerView slide animation. When I remove a row and during the removal animation I try to swipe the list I get one of below errors (I was not able to determine exactly what action causes which error):

[code]

[code]
[code]

Everything works fine when I wait for the removal animation to end.
I use 0.7.6 lib version and I tested

[2018-03-08 16:36] chennanoka commented on #89
Similar situation here,  the "View v = recycler.getViewForPosition(adapterPosition);" triggers a crash in recyclerView at "mChildHelper.unhide(view);". And saying "view is not a child, cannot hide". This crash happens randomly after scroll and refrsh the list.

[2018-03-12 12:41] Pxinxs opened #90 "Crash with targetSdkVersion 27"

[2018-03-14 03:49] chaochaox1990 commented on #87
@Dona278 your answer really help me Thanks. My problem is also 27.1.0 not working on that .

[2018-03-15 03:52] thanhbc commented on #90
@Pxinxs isit same as #87?

[2018-03-15 07:29] Pxinxs commented on #90
Yes, thank you! It's helped me.

[2018-03-15 07:29] #90 closed

[2018-03-23 15:18] gacrichards commented on #79
👍

[2018-03-29 20:56] aleksandra-majchrzak commented on #89
Currently I just turned off the scroll for this short time when removal animation is ongoing. Not the best solution, but for me it's enough.

[2018-04-09 07:07] namnl commented on #48
It took me two days but could not get around this, in the end I found this post:

When setting the layout manager you can simply call
mGridLayoutManager.setItemPrefetchEnabled(false);
It made the error go away for me. Hope it will be useful for someone.

[2018-04-13 17:09] genius38ru commented on #30
@AdityaAnand1 You can do this before assign you adapter to recycleview. For example
`for (int i = 0; i < adapter.getNumberOfSections(); i++) {
                    adapter.setSectionIsCollapsed(i, true);
                }
                recyclerView.setLayoutManager(new StickyHeaderLayoutManager());
                recyclerView.setAdapter(adapter);`

[2018-04-14 19:39] KennyGoers commented on #87
Is there a release pending?

[2018-04-24 08:41] Hamid95 opened #91 "do not support reverse layout"

[2018-04-28 19:55] Hamid95 commented on #91
can anyone help me?

[2018-05-03 13:25] milanPansuriya commented on #87
I am facing the same issue is there any update on this issue?

[2018-05-03 16:11] CeccoCQ commented on #87
Same issue.

[2018-05-04 05:50] milanPansuriya commented on #87
I had found the solution for this
plz update your code
 `public GhostHeaderViewHolder onCreateGhostHeaderViewHolder(ViewGroup parent) {
        LayoutInflater inflater = LayoutInflater.from(parent.getContext());

View v = inflater.inflate(R.layout.ghost_view, parent, false);
        return new GhostHeaderViewHolder(v);
    }`

Please add an empty layout to onCreateGhostHeaderViewHolder

[2018-05-06 04:16] wsf5918 commented on #73
@jayattma  Did U find the way ? i really want to this method

[2018-05-22 10:00] LuckyYangChen commented on #87
@Dona278 Thanks very much! I've solved the problem.

[2018-05-22 12:25] juanscigliano opened #92 "Sticky - Header and SubHeader."
Questions / new feature / improvement

Hi, im working on an App that should have StickyHeaders (Header and SubHeader).
Im wondering if there is a work around with this adapter to group item with StickHeader and at the same time have StickSubHeader.

Header_1
SubHeader_1.1
Item_1
Item_2
SubHeader_1.2
Item_3
Header_2
SubHeader_2.1
Item_4

Thanks.

[2018-06-12 06:58] mkrupal09 opened #93 "issue in notifyAllSectionsDataSetChanged() method"
`
public void notifyAllSectionsDataSetChanged() {
    buildSectionIndex();
    notifyDataSetChanged();
    collapsedSections.clear();
    selectionStateBySection.clear();
}
`
you're not notify adapter just after collapsedSections,selectionStateBySection clear method.
so after resetting data section not expand at first time.

can you please fix this ASAP.
Thanks in advance.

[2018-06-20 13:47] rkpatel097 commented on #73
[code]
Try This ...it's work perfect for me

[2018-06-20 13:59] rkpatel097 commented on #73
MILLISECONDS_PER_PX = calculateSpeedPerPixel(getContext()
                        .getResources()
                        .getDisplayMetrics());
------------------------------------------------------------------------------------------
In this line
smoothScroller.setTargetPosition(voucherAdapter.getAdapterPositionForSectionHeader(position));

position must be getSection which you get from HeaderVi

[2018-06-21 07:36] kshipraShelke commented on #87
same error

[2018-07-10 23:21] rion18 commented on #87
I tried @Dona278's solution but now my recyclerview is completely empty. Any ideas?

[2018-07-11 09:51] OmniaMahmoud opened #94 "how to get the current sticky section?"

[2018-07-18 09:17] cosminstirbu opened #95 "StickyHeaderLayoutManager doesn't display scroll bars"
Hi,

Even though I'm setting the `android:scrollbars="vertical"` attribute on the `activity_demo.xml` RecyclerView, the scroll bars are not displayed.

Looking at the implementation, it seems that `StickyHeaderLayoutManager` doesn't override the `computeVerticalScrollXyz` methods from `RecyclerView.LayoutManager`

Can you please look into this?

Thank you,
Cosmin

[2018-07-30 15:58] robotsquidward commented on #3
Seconding this, using `CardView` as a header locked all the views into the same height, even after changing visibility to GONE or doing `wrap_content` on the height.

I wrapped my `CardView` in a `FrameLayout` and it's working like a charm.

[2018-08-06 19:09] robotsquidward commented on #77
I have a similar issue with a RecyclerView in a BottomSheet.  LinearLayoutManager works like a charm for scrolling but StickyHeaderLayoutManager doesn't enable scrolling down without scrolling down the BottomSheet.

[2018-08-06 20:43] robotsquidward commented on #77
By modifying the `StickyHeaderLayoutManager` slightly to subclass the `LinearLayoutManager` rather than the `RecyclerView.LayoutManager`, I got the behavior I wanted in a `BottomSheet` 🎉

I might play around with creating a PR for a fix based on this, but if anyone else wants to jump on it then by all means, do.

[2018-08-17 07:29] Vishal99784 commented on #87
@Dona278 Thanks very much! I've solved the problem.

[2018-09-05 13:02] nikz-dev commented on #95
Hi @cosminstirbu ,
I am also facing the same issue, Are you able to find any solution?

[2018-09-05 14:00] cosminstirbu commented on #95
No solution. We simply don't display it :(

[2018-09-19 10:58] jaydipsensussoft commented on #47
not working

[2018-09-19 10:58] jaydipsensussoft commented on #47
not working

[2018-10-01 08:34] Arxing commented on #87
@Dona278 Thanks!!! I solved the problem.

[2018-10-16 06:55] Divala commented on #87
Facing same issue in Kotlin, Tried @Dona278 solution but its not working

[2018-10-16 14:09] cosminstirbu commented on #33
We would also be interested in such a feature? Not sure if you have any plans to further maintain this library, but we'd highly appreciate it.

[2018-10-25 04:40] TuonBondol opened #96 "Refactor AndroidX"
Awesome library you made there, I have one question, do you plan to refactor to AndroidX anytime soon?

[2018-10-30 06:47] Fatimamostafa commented on #58
Does it support?

[2018-11-05 05:00] saipsa commented on #96
@TuonBondol do you plan to create a PR?

[2018-11-11 10:58] OmniaMahmoud opened #97 "StickyLayoutManager does not work in kotlin"

[2018-11-19 14:08] EbrahimSadeghi opened #98 "when user scroll the page, data changed in rows !"

[2018-11-20 06:25] hycinth opened #99 "Some problems when use this with smartRefreshLayout"
it works well when i use it alone, but when i use it with smartRefreshLayout, it can't sticky header and the  list can't show complete

[2018-11-21 22:35] AlBlanc commented on #96
I just made a fork with up-to-date dependencies and migration to AndroidX -> https://github.com/Sportner/StickyHeaders

I am going to fix a few stuff and then publish it to maven. I'll let you know once it is done.

[2018-11-22 16:21] AlBlanc commented on #26
I personally use `SortedList`(https://developer.android.com/reference/android/support/v7/util/SortedList) in my `SectioningAdapter` (one for each section)

[2018-11-22 16:22] AlBlanc commented on #61
Problem solved here -> https://github.com/Sportner/StickyHeaders

but i am still having a similar issue, I am on it

[2018-11-22 16:23] AlBlanc commented on #82
Hello! I have made a fork and solved the issue  -> https://github.com/Sportner/StickyHeaders

[2018-11-23 09:17] BraisGabin commented on #61
I wrote my own LayoutManager: https://github.com/21Buttons/sticky-headers

We are using it in production and works perfectly. I don't know why I didn't write a proper documentation for it... I'll try to write it next week.

[2018-11-26 04:30] TuonBondol commented on #96
@AlBlanc Okay, Thank you :)

[2018-12-19 03:48] hunganh-px commented on #35
First of all, I'm sorry for my bad English.
Not sure if there are some one could fixed this issue but I found a way to overcome it.
I found a problem with the **firstViewTop** variable in **StickyHeaderLayoutManager**. Its value might decrease to minus thousands, so when the section is collapse, it will pull entire view to that position. So everything looks disappeared but if fact, it still there

[2018-12-25 00:05] Pranoy1c commented on #95
Is there a solution for this?

[2019-01-18 08:29] ibrarHussain87 opened #102 "Class cast exception after upgrading to android x"
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.ddroid.apps.antivirus, PID: 15174
    java.lang.ClassCastException: org.zakariya.stickyheaders.SectioningAdapter$HeaderViewHolder cannot be cast to com.ddroid.apps.antivirus.adapter.AppLockAdapter$HeaderViewHolder
        at com.ddroid.apps.antivirus.adapter.AppLockAdapter.onBindHeaderViewHolder(AppLockAdapter.java:100)
        at org.zakari

[2019-02-08 08:40] Divala opened #103 "Disabling item section collapsing on open"

[2019-02-12 08:22] #27 closed

[2019-02-25 11:12] sacdulanga commented on #87
@Dona278 Thank you!

[2019-02-28 08:39] joost-klitsie commented on #26
Old issue but I didn't use this before so maybe this is helpful for others that are searching in 2019. Workaround in Kotlin:
[code]

Basically you can catch the observer and then call onchanged yourself after setting the new items. Because the observer class is a private inner class of StickyHeadersLinearLayoutManager, we check if the enclosing class is that one and therefore we know we have the c

[2019-03-13 12:04] chandmohd commented on #87
Dona278 hey Thank you i solve my problem

[2019-03-13 12:06] chandmohd commented on #87
@Dona278  hey Thank you , I have migrated my project into AndoridX so had a problem so i tried your solution and it perfectly worked !

[2019-03-13 21:58] Dona278 commented on #87
After a year seeing that my workaround still helps makes me happy! 🎉

[2019-03-25 10:00] TothSteven commented on #87
@Dona278 Thank you! You saved the day for me :)

[2019-04-01 05:48] MuruganSKutty commented on #87
I tried Dona278 solution now above issue cleared but recyclerview is empty(showing nothing). I'm using 'com.android.support:appcompat-v7:27.1.1' & 'org.zakariya.stickyheaders:stickyheaders:0.7.6'. Please update if any solution.

[2019-04-01 06:58] TothSteven commented on #87
Hi @MuruganSKutty
I also use 'com.android.support:appcompat-v7:27.1.1' and 'org.zakariya.stickyheaders:stickyheaders:0.7.6' and for me works perfectly

[2019-04-01 07:34] MuruganSKutty commented on #87
I found another cause of invisible recyclerview, i.e (Recylerview is present inside the NestedScrollView). Please any help @Dona278 , @TothSteven .

[2019-04-01 08:48] TothSteven commented on #87
Hi @MuruganSKutty
I'm using it in a tabLayout with fragments and initialize the  sectioningAdapter in the Fragments onCreate and poputale the items in the Fragments onResume, have not tested it with NestedScrollView

[2019-05-01 02:34] ShamylZakariya commented on #87
Hey I want to apologize to everybody. My job has been very demanding, and I've had to ignore all this. I've fixed the bug, and am upgrading to androidx, newer gradle etc. I will push a release in the next few days.

[2019-05-07 15:50] ShamylZakariya commented on #102
Hi,
I have just updated to 0.7.8, which is built on `androidx`. It *should* resolve your issue.

[2019-05-07 15:50] #102 closed

[2019-05-07 16:01] #82 closed

[2019-05-07 16:08] ibrcic commented on #77
I have the exact same problem as @robotsquidward , have you perhaps created a PR?

[2019-05-08 00:15] robotsquidward commented on #77
@ibrcic I have not created a PR yet unfortunately.  But please go for it if you are able to!

[2019-05-08 09:17] ibrcic opened #106 "Publish version 0.7.9 to Maven"
As far as I can see, the new version from yesterday is still not on maven, could you publish it?

https://mvnrepository.com/artifact/org.zakariya.stickyheaders/stickyheaders

[2019-05-08 14:53] ShamylZakariya commented on #106
@ibrcic Thanks for the heads up - I'm looking into this right now. First, can you confirm that this is not working? I've been out of the loop of android development for a while, previously it was enough to simply publish my build to jcenter.

Here, it _looks_ like the package should be available on maven:
https://bintray.com/shamylzakariya/maven/stickyheaders/0.7.9

[2019-05-08 14:57] ShamylZakariya commented on #106
So it looks like my bintray upload grade scripts aren't including source; which is preventing the "Add to JCenter" functionality from working. I'm going to look into how to update my build scripts.

[2019-05-09 14:31] ShamylZakariya commented on #106
Can you test 0.7.10? I believe I've fixed my maven issues, and was able to bring it in to a test project via `implementation 'org.zakariya.stickyheaders:stickyheaders:0.7.10'` - but I'd like to know if it works not-on-my-computer.

[2019-05-09 19:42] ibrcic commented on #106
Hi, yes I can confirm that version 0.7.10 is indeed working.

[2019-05-09 19:42] #106 closed

[2019-05-12 18:09] ShamylZakariya commented on #96
Done, available in 0.7.10

[2019-05-12 18:09] #96 closed

[2019-05-13 07:31] wenchaosong opened #107 "IndexOutOfBoundsException"
when the data is empty, crash.
so, the data can not empty? or, how to use it when init without  set the code mRecyclerView.setVisibility(View.GONE);?

[2019-05-15 23:35] ShamylZakariya commented on #107
I'll look into this.

[2019-05-16 02:37] wenchaosong commented on #107
ok

[2019-05-16 07:31] prashant-mudgal opened #108 "How to set setStackFromEnd??"
I want to set setStackFromEnd to recyclerview.

[2019-05-16 14:45] ShamylZakariya commented on #107
I'm pretty certain this fixes the issue. I want to do a little more testing before I push a new build. Can you post your adapter code?

[2019-05-17 01:56] wenchaosong commented on #107
I was use the sample, i did not new a adapter, i just change init method and it was appeared

[2019-05-17 02:21] wenchaosong commented on #107
[code]

[2019-05-22 14:32] ShamylZakariya commented on #107
Well, as far as I can tell I've fixed the crash on an empty adapter. I've pushed https://github.com/ShamylZakariya/StickyHeaders/releases/tag/v0.7.11 and it's available for import.

[2019-05-22 14:32] #107 closed

[2019-05-23 13:29] ShamylZakariya commented on #77
I would absolutely love to see this. Please give it a go.

[2019-05-23 14:02] ibrcic commented on #77
I gave it a go some time ago, essentially I tried extending LinearLayoutManager and initially it seemed to work but it seems that it breaks some other things, so I gave up since I am not familiar enough with LayoutManagers...

[2019-05-23 14:54] ShamylZakariya commented on #77
If you want to send an example project my way I'd be interested because I might be able to improve it and integrate it. But I understand it's not PR-ready.

[2019-05-29 17:59] ShamylZakariya commented on #95
Can you provide a way to replicate this? I have had no trouble with scrollbars - they show just fine in all my tests and uses

[2019-05-29 18:00] ShamylZakariya commented on #103
Can you describe this a little better?

[2019-06-03 11:09] sagarpatel288 commented on #73
getAdapterPositionForSectionHeader(int passYourPosition) is the method already there.

[2019-07-02 14:29] Crasheng commented on #87
@Dona278  @chandmohd  i have updated to AndroidX and in my customer Adapter the one extending the SectionAdapter i have override the same method and it still gives me the same problem

[2019-08-28 10:26] DevAnuragGarg opened #109 "Accessibility for the recyclerview"
When the user has reached the last visible item on the screen (more items are present) of the list and right swipe, the list does not scroll to the next item and focus gets lost. It goes back to the back button of the toolbar. Checked with a simple recycler in a sample project and it was working fine in that. But using StickyHeaders, the focus is getting lost.

[2019-10-12 22:33] ShamylZakariya commented on #109
This sounds problematic - mind sharing your simple demo app with me? I'd like to reproduce and fix this.

[2019-11-05 06:21] NandagopalR opened #111 "App Crashing If the List size is 0."
Actually, In onCreate, i'm using `StickyHeaderLayoutManager` as a layout manager and i'm passing the size of my list is 0 at initial stage. Once i got the data from the api, i'll notify the adapter. The thing is, when i'm passing the list size as 0, the adapter sending `IndexOutOfBoundException` **ItemCount is -1**.

[2019-11-22 11:39] NandagopalR commented on #87
thanks man. it's really working

[2019-12-19 20:33] emrebehadir opened #112 "Custom Scroll Behaviour"
Custom Scroll Behaviour

I want to implement custom scroll behavior. When i scroll to an item position, item must locate bottom of sticky header view.
I tried to scrollToPosition, linearSmoothScrooler etc. These scroll behaviours working like recycler scroll behaviour. It is not calculate sticky position. When scroll to an item position, item stayed bottom of sticky header. How can i can implement

[2020-02-03 09:14] FrancisRR opened #113 "wrap_content not working"
<androidx.recyclerview.widget.RecyclerView
        android:id="@+id/recyclerView"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
       />

The list is hidden if i set the height for wrap_content. match_parent only it's working.

[2020-03-09 08:48] DevAnuragGarg commented on #111
The same has been happening

[2020-03-11 07:31] rex50 opened #114 "notifySectionItemChanged() crashes the app"
For the below code snippet, whenever onFinish is called and I try to notify adapter I'm getting exception mentioned below the code snippet.

**CODE SNIPPET** in Adapter
[code]

**EXCEPTION** for above code snippet
[code]

[2020-03-16 07:40] divy9t commented on #87
@Dona278 thanks for the answer mate, it's really helpful.

[2020-05-13 09:13] Steve623-max commented on #77
Auto resizing is not working so it's disabling keyboard up.
And same issue with wrap_content height even though recyclerview was supposed to be resized automatically.

[2020-05-13 14:23] SergeySugak commented on #97
I'm confirming this issue.
Do you have any solution to it yet?

[2020-05-29 15:25] KumarVelu opened #115 "How to include grid layout with sticky headers ?"
Can this recyclerview be extended to use Gridlayout manager with sticky headers.

[2020-06-02 08:38] benyAlves commented on #3
Hi I am facing the same issue, is there an official solution? This Issue is opened since 2016

[2020-07-09 09:29] luongvo opened #116 "This lib doesn't seem to support clipToPadding = false on RecyclerView"
I update to add a bottom padding on the RecyclerView to expect to show an padding for the last item but it doesn't
[code]
![20200709_162547](https://user-images.githubusercontent.com/16315358/87022916-541a7f80-c201-11ea-823b-59fb3e4e3570.gif)

[2020-07-29 02:28] nashihu commented on #89
any proper solution for this?

[2020-07-30 03:49] nashihu commented on #89
hello @aleksandra-majchrzak could you please share how'd you turn off the scroll in your case? thank you

[2020-07-30 18:14] aleksandra-majchrzak commented on #89
Hi.
I don't have the access to that code anymore, but most probably I just created my own LayoutManager like in there: https://stackoverflow.com/questions/30531091/how-to-disable-recyclerview-scrolling and just dynamically change scrolling flag.

[2021-02-03 05:44] varindergroove opened #117 "Item size 0 , crash the app."
java.lang.IndexOutOfBoundsException: Invalid item position -1(-1). Item count:0 androidx.recyclerview.widget.RecyclerView{e0c4573 VFED..... ......ID 0,0-1080,0 #7f0a0ce1 app:id/recyclerview}

[2021-04-15 14:42] vanlooverenkoen opened #118 "jcenter is deprecated. Move to mavencentral"
https://bintray.com/shamylzakariya/maven/stickyheaders/0.7.9
![image](https://user-images.githubusercontent.com/21172855/114888525-9bc1dd80-9e09-11eb-8758-8a86272157bf.png)

[2021-04-16 09:12] vanlooverenkoen commented on #118
I just found that 0.7.11 was released on jitpack. So I will use jitpack for now. @ShamylZakariya will this library be published to mavencentral as well? or only jitpack?

https://jitpack.io/p/shamylzakariya/stickyheaders

[2021-04-20 15:11] ShamylZakariya commented on #118
Honestly, I just don't have the time or inclination to maintain this project.

[2021-09-19 00:19] #59 closed

[2021-11-11 10:27] vishal247 commented on #47
Just replace line 373 in `StickyHeaderLayoutManager.java`

`int parentHeight = getHeight();`

to

`int parentHeight = getHeight() - getPaddingBottom();`

[2022-01-18 09:38] SuperKung commented on #111
change the version to 0.7.11

[2022-01-18 09:39] SuperKung commented on #117
use 0.7.11

[2022-06-14 08:52] Divala commented on #103
Setting the recyclerview to be collapsed by default. When loaded should only display headers

[2022-06-30 09:07] ratanakpek commented on #77
When I use StickyHeaderLayoutManager, it conflict scrolling between recyclerview and bottomsheet...